/* general */
html{
    background-color: #f6f8f9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

/* header */

header{
    background-color: white;
    height: 100px;
    line-height: 100px;
}

#logo{
    margin: 5px;
    width: 70px;
}

.title{
    display: inline-block;
    vertical-align: top;
}

.container{
    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

/* nav */

.container.nav{
    height: 70px;
    margin-top: 30px;
}

.add{
    box-sizing: content-box;
    border-radius: 5px;
    padding: 5px
}

.add.task{
    background-color: #47adf1;
    border: none;
}

.add.section{
    color: gray;
    border-color: #f6f8f9;
}

/* main */

.container.main{ 
    height: 800px;
    margin-top: 3px;
    
}

.testo{
    line-height: 25px;
    margin-top: 30px;
}

.testo.alto{
    margin-top: 0;
}

